<div class="article-category">
    <h3 class="subheading">
        This Project Contains

    <ul>
        {{# cards }}
            <li>
                <a href="#">
                    {{ title }}
                </a>
            </li>
        {{/ cards }}
    </ul>
        </h3>
</div>