<div class="post-navigation">
    <nav>
        {{!-- <h2 class="screen-reeader">Post Navigation</h2> --}}
        <div class="nav-links">
            {{# navigation }}
                <div class="nav-previous nav-next">
                    <a href="#">
                        {{ post }}
                    </a>
                </div>
            {{/ navigation }}
        </div>
    </nav>
</div>