<nav class="navigation pagination">
    <div class="nav-links">
        <span>1</span>
        <a href="#">2</a>
        <span>...</span>
        <a href="#">51</a>
        <a href="#">Next</a>
    </div>
</nav>