<nav class="navigation pagination">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
        <span class="page-numbers current">1</span>
        <a href="#" class="page-numbers">2</a>
       <span class="page-numbers dots">...</span>
       <a href="#" class="page-numbers">51</a>
       <a href="#" class="next page-numbers">Next</a>
    </div>
</nav>