{{! might need more clarification about the name or where this is used is it just a signle thing? }}
<div class="site-main">
    <article class="">
        {{> molecules-spine-border }}
        {{> molecules-fp-header }}
        {{> molecules-article-content }}
    </article>
</div>