{{> organisms-header }}

{{> organisms-category-header }}

<div class="background-clean">
    {{> organisms-category-sub }} {{! there are margins coming in from the ul in here which I should be defining not just relying on }}
</div>

{{! should this have a wrapper }}
{{! can I do this with a loop better here? }}
<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

<div class="background-dirty category-break">
    {{> organisms-category-article }}
</div>

{{> organisms-pagination }}

{{> organisms-footer }}