{{> organisms-header }}

{{> organisms-category-header }}

<div class="background-clean">
    {{> organisms-category-sub }}
</div>

{{> organisms-article }}
{{> organisms-article }}
{{> organisms-article }}
{{> organisms-article }}
{{> organisms-article }}
{{> organisms-article }}
{{> organisms-article }}
{{> organisms-article }}
{{> organisms-article }}
{{> organisms-article }}

{{> organisms-pagination }}

{{> organisms-footer }}