{{! I think only full width pieces are needed here }}
{{> organisms-header }}

<div class="background-primary">
    {{> organisms-ccc }}
</div>

<div class="background-dirty">
    {{> organisms-article }}
</div>

{{> organisms-footer }}