{{! I think only full width pieces are needed here }}
{{> organisms-header }}

<div class="background-primary">
    {{> organisms-ccc }}
</div>

<div class="background-dirty">
    <main class="site-main">
        {{> organisms-article }}
    </main>
</div>

{{> organisms-footer }}