// not used in the site
.stay-gold {
    min-height: 50px;
}

.text-center {
    text-align: center;
}

// from here are used

// Molecules
// --------------------------------------------------------------

body {
    // tiny screens can look bad in the header
    // unless we do a super small screensize
    line-break: anywhere;
    @media (min-width: map-get($breakpoints, medium)) {
        line-break: initial;
    }
}

//header
.breadcrumbs {
    writing-mode: vertical-rl;

    a {
        color: #575757; // dark-gray doesn't pass contrast checks but I didn't want to go all the way to black
        text-decoration: line-through;
    }
}

.header-color-blocking {
    mix-blend-mode: multiply;
	background: $primary-color;
}

.header-logo {
    fill: $primary-color;
}

.site-branding-text {
    @media (min-width: map-get($breakpoints, medium)) {
		writing-mode: vertical-rl;
    }
    // color: $white; // not needed as it get's overwritten by the a
    // font-size: 2em; // these keep getting overwritten its needs to be sorted out
    background: black; // adding this incase we dont have images the text is still visible // true black for the screen blend to not show anything

    a { // remove the additional classes
        font-size: 0.8em; 
        color: $white;
        padding: $global-padding; // new
        display: inline-block; // new
    }
}

.single .site-branding-text {
    a {
        color: $black;
        padding: initial;
    }
}

// -----------------------------------------------
.navigation-top ul { // does this need to be told to be a flex?
	// flex-direction: column;
	padding-left: 0;

    /*
	@media (min-width: map-get($breakpoints, medium)) {
		// padding-left: $global-padding;
    }
    */
}

.navigation-top ul li {
	font-size: 1.5rem; // type scale? has to be rem or can start to multiply when nested
	font-weight: bold;
	margin-bottom: $global-margin; // change this around
	// margin-bottom: 0;
	@media (min-width: map-get($breakpoints, medium)) {
		font-size: 2.25rem; // type scale?
	}
}

/*
.navigation-top ul li a {
	// padding: 0; redundant
}
*/

/*
.navigation-top a {
	// color: $black;
	// text-decoration: underline; duplicate
}

.navigation-top a:hover {
	// text-decoration: line-through; 
}
*/

.spine {
    writing-mode: vertical-rl;
    color: #575757; // darker than dark gray to pass contrast checks seems like something I should think about doing this everywhere
}

// Footer Molecules
// --------------------------------------------------------------

.footer_menu li {
    font-weight: bold;
    border: .25em solid $primary-color; // global?
    padding: $global-padding;
    // margin: $global-margin 0; // new so it doesnt touch as a molecule but doesnt work as an organism
}

.footer_copyright a,
.footer_nav a,
.footer_contact a {
	text-decoration: none;
	color: $black;
	box-shadow: inset 0 -4px 0 $primary-color; // this is alternative underline that rises up on hover
	transition: 300ms;
}

.footer_copyright a:hover,
.footer_nav a:hover,
.footer_contact a:hover {
	border-bottom: none;
	box-shadow: inset 0 -8px 0 $primary-color;
}

.footer_nav li { // I think this needs some real love
    display: inline; // this is done differently to other places
    margin-right: $global-margin;
}


// CCC Molecules
// --------------------------------------------------------------

.fp-box {
    background: $primary-color;
    color: $white;
    text-align: center;
    font-weight: bold;
    padding: $global-padding 0;
}

// More Molecules
// --------------------------------------------------------------

.spine-border {
	border-left: 4px solid $primary-color;
	padding-top: 3rem;
}

.page-title {
	margin: 0;
	font-size: 2em; // type scale?
	border: .2em solid $primary-color;
	// justify-self: start;
	padding: $global-padding*2; // why half size?
	color: $primary-color;
	word-wrap: break-word;
	text-align: center;

	@media (min-width: map-get($breakpoints, medium)) {
		font-size: 3em;
	}
}

.article-date {
	font-size: 2em; // type scale?
	color: $dark-gray;
	margin: 0.1em 0; // why so slender? or just be a zero
}

.post-navigation a {
	color: $black;
}

.nav-previous,
.nav-next {
	font-weight: bold;
	display: block; // fix pattern lab not needed in site
}

.article-tags a {
	color: $dark-gray;
	display: block; // fix pattern lab not needed in site
}

.pagination {
	margin: 3rem auto;
	max-width: $page-width;
	display: grid;
	grid-gap: $global-grid-gap;
	grid-template-columns: 2em 1fr 4fr 1fr 2em; // fix
}

.pagination h2 { /* as wordpress controls this we are using elements for the grid */
	grid-column: 1 / 3;

	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3 / span 4;
	}
}

.pagination .nav-links {
	grid-column: 2 / 5;

	display: flex;
	flex-direction: row;
	justify-items: flex-start; // is there a place-items for flex?
	align-items: flex-start;

	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3;
	}
}

.pagination .nav-links .next, .pagination .nav-links .prev { // what is this overwritting?
	width: auto;
	writing-mode: vertical-rl;
	border-bottom: none;
	box-shadow: none;
}

.pagination span, .pagination a {
	margin-right: $global-margin;
}













// Organisms
// --------------------------------------------------------------

.site-header {
	width: 100%;
	max-width: $page-width;
	margin: 0 auto;
	display: grid;
    grid-gap: $global-grid-gap;
    grid-template-columns: 2em 1fr 2em;

    // I think I can start simplifying this
    @media (min-width: map-get($breakpoints, medium)) {
        grid-template-columns: 2em 1fr 1fr 1fr 2em;
        grid-template-rows: 2em 1fr 2em; // keep it tight up top with the header-logo
    }
}

.single .site-header {
    @media (min-width: map-get($breakpoints, medium)) {
        grid-template-rows: initial;
        grid-template-columns: 2em 1fr 2em;
    }
}

.breadcrumbs {
    grid-column: 1;
    grid-row: 2/4;
    justify-self: center; // match header-logo and spine-border
}

.single .breadcrumbs {
    grid-row: 2;
    @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 2;
    }
}

.header-logo {
    grid-row: 1;
    grid-column: 3;
	// align-self: start; fill the block
	justify-self: center; // macth the spine

// fix this
    @media (min-width: map-get($breakpoints, medium)) { // this needs to be sorted out
        align-self: end; // this is for when the menu is horizontal on single pages
        justify-self: center;
        grid-column: 5;
    }
    
    a {
        display: inline-block; // fill the block test with a background color
    
        svg {
            width: 16px;
        }
    }
}

.single .header-logo {
    grid-column: 3;
}

/* I think we have fixed this now
.home .header-logo {
    // align-self: start; // duplicate
	justify-self: center; // why exactly is this different? I think it should be fixes

}
*/

// -----------------------------------------------------------------

// this is a mess

.site-branding-text {
	grid-column: 2; // changed to simpler small
	grid-row: 2;
	// padding-top: 0; remove
	// padding-bottom: $global-padding; remove
	// justify-self: center; remove
	z-index: 20; // above the image
	// margin-top: $global-margin; remove
	// margin-bottom: $global-margin; // can these two be written better as a single line?
    mix-blend-mode: screen;

	@media (min-width: map-get($breakpoints, medium)) {
        writing-mode: vertical-rl;
        grid-row: 1/4;
        grid-column: 3;
        place-self: center;
        // start looking without
        // margin-top: $global-margin*3;
		// margin-bottom: $global-margin*3;
	}
}

.single .site-branding-text {
    background: initial;
    mix-blend-mode: initial;
    @media (min-width: map-get($breakpoints, medium)) {
        writing-mode: initial;
        grid-row: 1;
        grid-column: 2;
        place-self: start;
    }
}

/*
add these back in when I figure out which are good 
.single .site-branding-text {
	grid-row: 1;
	justify-self: start; // fix problems caused by the home page
	padding-bottom: 0;
	// align-self: start;

	@media (min-width: map-get($breakpoints, medium)) {
		writing-mode: horizontal-tb;
		padding: 0;
		grid-column: 2;
		margin-top: 0; // ! single needs the margin but we dont here
		margin-bottom: 0; // this was -.25em but I think I've fixed that hack to pull it to the baseline
	}
}

.home .site-branding-text {
    // I presume this means I want to just start with the base
	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1 / 3;
		margin-top: $global-margin*3;
		margin-bottom: $global-margin; // can this be written as a single line?
	}
}
*/

// -----------------------------------------------------------------

.header-color-blocking {
    z-index: 15; //same as .spine border? should it be above or below
    grid-column: 2;
	grid-row: 2;

	@media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1 / 4;
		grid-column: 3;
	}
}

.custom-header-media {
    z-index: 10;
	grid-column: 2; // changed to newer simpler small
	grid-row: 1 / 3;
	// margin-bottom: $global-margin*2; // make sure the red overstripe has some room to play

	@media (min-width: map-get($breakpoints, medium)) {
        grid-row: 2;
		grid-column: 2 / 4;
    }
    
    img, picture {
        width: 100%; // max sure we fill the box
    }
}

.overlaying-image {
    filter: grayscale(100%); // a number is needed to filter
	mix-blend-mode: multiply;
	z-index: 14; // below the cololr-block above the image
}


// wait till we understand these
.single .custom-header-media {
// .single .custom-header-photo, // I need to define why these are all different
// .single .custom-header-featured-video {
	// grid-column: 2 / 5; // this is a duplicate
	grid-row: 2;
	align-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
        grid-row: 2;
        grid-column: 2;
	}
}

.navigation-top {
	// grid-column: 2;
	grid-column: 1/4;
	grid-row: 3;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4;
		grid-row: 2 / 4;
	}

	// display: grid; // spread the grid items evenly down but a nice bottom margin might be cleaner
}

.single .navigation-top {
	// align-items: start; // seems like this is a repeat from .navigation-top
	grid-row: 4;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
		grid-column: 2;
        // place-self: end;
        justify-self: end;

        ul {
            display: flex;
        }

        li {
            margin-bottom: 0;
        }
    }
}

/*
.home .navigation-top {
	grid-row: 3;
	align-self: start;
	margin-bottom: $global-margin;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
		grid-column: 4;
		margin-bottom: $global-margin*3;
		align-self: center;
	}
}
*/

.spine {
	grid-column: 3;
	grid-row: 2;
    writing-mode: vertical-rl;
    justify-self: center; // match header-logo
	// place-self: end; might need only bigger

	@media (min-width: map-get($breakpoints, medium)) {
        grid-column: 5;
        align-self: end;
        // margin-bottom: $global-margin*2; // match the base of the image

	}
}

.single .spine {
    grid-row: 2;

    @media (min-width: map-get($breakpoints, medium)) {
        grid-column: 3;
    }
}




// footer ogranisms
// ------------------------------------------

.site-footer {
	width: calc(100% - 4rem);
	max-width: 73rem; // keeps inside of the margins
	margin: 0 auto;
	padding: $global-padding 0;
	// align-items: end; Why am I pushing down?

	@media (min-width: map-get($breakpoints, medium)) {
		// width: calc(100% - 4em);
		padding-top: $global-padding*5; // guess and check
	}
}

.footer_menu {
    display: grid;
	grid-template-columns: 1fr; // start simple stack then go to direction. maybe this should be a flex
	grid-gap: $global-grid-gap;
	// padding-top: $global-padding;
	// margin-left: 0;
    // padding-left: 0;
    margin-bottom: $global-margin*2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.footer_info {
	display: grid;
	grid-template-columns: 1fr; // start simple stack then go to direction. maybe this should be a flex
	grid-gap: $global-grid-gap;
	// padding-top: $global-padding;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.footer_copyright {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 1;
	}
}

.footer_contact {
	@media (min-width: map-get($breakpoints, medium)) {
	    grid-column: 3;
		text-align: right;
	}
}

// ccc ogranisms
// ------------------------------------------

.front-page-titles {
    width: 100%;
    max-width: 73rem;
    margin: 0 auto;
    display: grid;
    grid-gap: $global-grid-gap/2;
    grid-template-columns: repeat(6, 1fr);
    background: $white;
    padding-left: 1rem;
	padding-right: 1rem;
	
	// this needs a couple of media queries to match the header grid
	@media (min-width: map-get($breakpoints, medium)) {
		grid-gap: $global-grid-gap;
	}

	@media (min-width: 77rem) {

	}
}

// more ogranisms
// ------------------------------------------

.background-dirty {
    background: $light-gray;
}

.site-main article, // this isnt working for some reason?
.site-main_article
{ /* running wordpress post class prevents using a straight clasee */
	width: 100%;
	max-width: $page-width;
	margin: 0 auto;

	display: grid;
	grid-gap: $global-grid-gap;
	padding-top: $global-padding*2;

	grid-template-columns: 4px 1fr 4fr 4fr 1fr 4px;
	// maybe this should be to match the header and footer grid atleast at large sizes 2em 1fr 2fr 2fr 1fr 2em

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: 2em 1fr 4fr 4fr 1fr 2em;
	}
}

.spine-border {
    grid-row: 1/7;
    grid-column: 1;
    // z-index: 15; // what am I gowing over the top of?
}

.single .spine-border {
    @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1/6;
    }
}

.fp-header {
	grid-column: 2 / 6;
	// align-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5;
	}
}

.article-content {
	grid-column: 2 / 6;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5;
	}
}

// page

.article-date {
	grid-row: 2;
	grid-column: 2 / 6;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5;
	}
}

.article-speechbubble {
	grid-column: 4 / 6; //dealing with the last skinny column
	justify-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4;
	}
}

.article-category {
	grid-column: 2 / 5;
	grid-row: 5;

	@media (min-width: map-get($breakpoints, medium)) {
		text-align: right;
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		writing-mode: vertical-rl;
		align-self: end;
		overflow-x: scroll;
		max-height: 45em; // incase of a long category name it will truncate
	}

	a {
		color: $dark-gray;
	}
}

.single .article-category {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1 / 5;
		align-self: start;
	}

	h3 {
		margin: 0;
	}
}

.article-base {
    max-width: $page-width;
	// margin-top: $global-margin*3; // rewrite this as a single
	margin-left: auto;
	margin-right: auto;
	// margin-bottom: 0;
	display: grid;
	grid-gap: $global-grid-gap;
	grid-template-columns: 2em 1fr 2em;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: 2em 1fr 1fr 1fr 2em;
	}
}

.base-explore {
	grid-column: 1;
	writing-mode: vertical-rl;
}

.article-tags {
	grid-column: 2/5;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4;
	}
}

.article-comments {
	grid-column: 2 / 5;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
	}
}

.base-tags {
	grid-column: 1;
	grid-row: 3;
	writing-mode: vertical-rl;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 5;
		grid-row: 1;
	}
}

// ccc templates
// ------------------------------------------

.background-primary {
    background: $primary-color;
}


.single-header-top-line {
	grid-row: 1;
	grid-column: 2;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@media (min-width: map-get($breakpoints, medium)) {
		flex-direction: row;
	}
}

.comment-reply-title {
	display: none; // seems kinda overkill maybe this should be noted as screen-reader
	// it's in the comments field so possible cant have the element changed
}

#email-notes {
	display: block; // cant change selector as its in the comments block
}

.article-content .button, // I think I will remove these but they are currently there so use them for now
.quote-content .button {
	text-decoration: none;
	box-shadow: none;
	color: $primary-color;
	background: $white;
	border-right: .1em solid $primary-color; // global?
	border-bottom: .1em solid $primary-color;
	border-bottom-right-radius: 3px;
}