{{# items }}
    <div style="background: #e6e6e6; display: inline-block;"">
        <div style="padding: {{ value }}; background: #cacaca;">
            {{ name }}
        </div>
    </div>
{{/ items }}