// This is just a little bit of an idea that Im not sure if it works
// http://clrs.cc

body {
    background: #001f3f; // navy
}

div {
    background: #0074D9; // blue
}

header {
    background: #7FDBFF; // aqua
}

main {
    background: #39CCCC //teal;
}

footer {
    background: #3D9970; // olive
}

section {
    background: #2ECC40; // green
}

article {
    background: #01FF70; // lime
}

img {
    background: #FFDC00; // yellow
}

nav {
    background: #FF851B; // orange
}

h1, h2, h3, h4, h5, h6 {
    background: #FF4136; // red
}

p {
    background: #85144b; // maroon
}

ul {
    background: #F012BE; // fuchsia
}

li {
    background: #B10DC9; // purple
}