<button>
    button
</button>

<button class="button__hover">
    button
</button>

{{!-- these are not real button but styled a links which needs clarifying --}}
<div class="article-content">
    <a href="#" class="button">
        .article-content .button
    </a>
</div>

<div class="quote-content">
    <a href="#" class="button">
        .quote-content .button
    </a>
</div>
<small>{{{ meta.description }}}</small>