/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */
/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors.............Info, Warning, Error, Success
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *

 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */
/*------------------------------------*\
     #COLORS
 \*------------------------------------*/
/**
 * Brand Colors
 * 1) Brand=specific colors
 */
/**
 * Neutral Colors
 * 1) Neutral colors are grayscale values used throughout the UI
 */
/*
$color-neutral-white: #fff;
$color-neutral-gray-02: #f9f9f9;
$color-neutral-gray-07: #eee;
$color-neutral-gray-13: #ddd;
$color-neutral-gray-27: #bbb;
$color-neutral-gray-50: #808080;
$color-neutral-gray-60: #666;
$color-neutral-gray-73: #444;
$color-neutral-gray-93: #131313;
$color-neutral-black: #000;
*/
/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 *    form validation, etc.
 */
/*
$color-utility-info: #0192d0;
$color-utility-error: #b12a0b;
$color-utility-success: #03804d;
$color-utility-warning: #a59b15;
*/
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Font Family
 */
/**
 * Font Sizing
 */
/*
$font-size-sm: 0.75rem;
$font-size-sm-2: 0.85rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;
*/
/**
 * Line Height
 */
/*
$line-height-sm: 0.8;
$line-height-sm-2: 0.9;
$line-height-med: 1;
$line-height-med-2: 1.2;
$line-height-large: 1.6;
$line-height-xl: 1.8;
*/
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Max Width
 */
/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 */
/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
/**
 * Border widths
 */
/**
 * Border radius
 */
/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
/**
 * Transition Speed
 */
/**
 * Transition Ease
 */
/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints used in media queries
 * 1) These are not the only breakpoints used, but they provide a few defaults
 */
/*
$bp-small: 28em;
$bp-med: 47em;
$bp-large: 60em;
$bp-xl: 70em;
*/
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Body Styles 
 * 1) Prevent Mobile Safari from scaling up text: https://blog.55minutes.com/2012/04/iphone-text-resizing/
 */
/* @mixin typographyBody() {
	font-size: $font-size-med;
	line-height: 1.6;
	-webkit-text-size-adjust: 100%; // 1
} */
/**
 * XL Type Styles
 */
/*
@mixin typographyBodyLarge() {
	font-size: $font-size-med-2;
	line-height: $line-height-large;
} */
/**
 * XL Heading Styles
 */
/*
@mixin h1() {
	font-size: $font-size-xl;
	font-weight: normal;
	line-height: 1.15;
} */
/**
 * Large Heading Styles
 */
/*
@mixin typographyHeadingLarge() {
	font-size: $font-size-large;
	font-weight: normal;
	line-height: 1.2;
} */
/**
 * Medium 2 Heading Styles
 */
/*
@mixin typographyHeadingMed2() {
	font-size: $font-size-med-2;
	font-weight: normal;
	line-height: 1.2;
} */
/**
 * Medium Heading Styles
 */
/*
@mixin typographyHeadingMed() {
	font-size: $font-size-med;
	font-weight: normal;
	line-height: 1.2;
} */
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/**
 * In this file, we take the literal colors from our palette (defined in variables.scss)
 * and define them against variables that we can utilise anywhere throughout the project.
 */
:root {
  --cinnabar: #c22127;
  --cardinal: #8a0000;
}

/*------------------------------------*\
    #GLOBAL TEXT COLOR
\*------------------------------------*/
/**
 * Body text and background colors
 */
/**
 * Highlight colors
 */
/*------------------------------------*\
    #LINKS
\*------------------------------------*/
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/*------------------------------------*\
    #TESTING
\*------------------------------------*/
.stay-gold {
  min-height: 50px;
}

.text__selection {
  color: #fefefe;
  background: #c22127;
}

.pass-fail p {
  line-height: 2rem;
  border-top: 1px solid gainsboro;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pass {
  background: lightseagreen;
  border: 1px solid green;
  color: white;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  border-radius: 0.125rem;
}

.fail {
  background: lightcoral;
  border: 1px solid red;
  color: black;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  border-radius: 0.125rem;
}

.sg-colors h1, .sg-colors h2, .sg-colors h3, .sg-colors h4, .sg-colors h5, .sg-colors h6 {
  font-size: clamp(1rem, 1.5rem, 2rem);
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
 */
/* * {
	box-sizing: border-box;
} */
/**
 * 1) Zero out margins and padding for elements
 */
/*
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
	margin: 0;
	padding: 0;
} */
/**
 * 1) Set HTML5 elements to display: block
 */
/* 
header, footer, nav, section, article, figure {
	display: block;
} */
figure {
  margin: 0;
}

/*------------------------------------*\
    #BODY
\*------------------------------------*/
/**
 * HTML base styles
 * 1) Set the html element's height to at least 100% of the viewport.
 *    This is used to achieve a sticky footer
 */
html {
  min-height: 100vh;
  /* 1 */
}

/**
 * Body base styles
 * 1) Set the body element's height to at least 100% of the viewport.
 *    This is used to achieve a sticky footer
 */
body {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/
/**
 * Link base styles
 */
a {
  color: #c22127;
  /*
  	&:active {
  		color: $color-links-active;
  		text-decoration: line-through;
  	}

  	&:visited {
  		color: $color-links-visited;
  		text-decoration: line-through;
  	} */
}
a:hover, a:focus {
  color: #8a0000;
  text-decoration: line-through;
}

.a-hover {
  text-decoration: line-through;
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
/**
 * 1) List base styles
 */
/**
 * Remove list styles from unordered and ordered lists
 */
ol, ul {
  list-style: none;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small, .text_small {
  font-size: 0.8em;
}

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/**
 * 1) Form element base styles
 */
/**
 * Input placeholder text base styles
 */
/*
::-webkit-input-placeholder {
	color: $color-form-placeholder;
}

::-moz-placeholder {
	color: $color-form-placeholder;
}

:-ms-input-placeholder {
	color: $color-form-placeholder;
} */
/**
 * Fieldset base styles
 */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/**
 * Legend base styles
 */
legend {
  margin-bottom: 0.25rem;
}

/**
 * Label base styles
 */
label {
  display: block;
  padding-bottom: 0.25rem;
}

/**
 * Add font size 100% of form element and margin 0 to these elements
 */
button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

/**
 * Text area base styles
 */
textarea {
  resize: none;
}

/**
 * Input  and text area base styles
 */
input,
textarea {
  padding: 0.5rem;
  /* 	&:focus {
  		// border-color: $color-form-border-focus;
  	} */
}

/**
 * Remove webkit appearance styles from these elements
 */
input[type=text],
input[type=search],
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
}

/**
 * Checkbox and radio button base styles
 */
input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: 0.3rem;
}

/**
 * Search input base styles
 */
input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}

/**
 * Select
 * 1) Remove default styling
 */
/*
select {
	display: block;
	font-size: $font-size-med;
	width: 100%;
	border: $border-width solid $color-form-border;
	padding: 0.5rem;
	background: $color-form-bg;
	color: $color-form;

	&:focus {
		border-color: $color-form-border-focus;
	}
} */
input,
textarea {
  border: 0.1em solid #cacaca;
  font-weight: bold;
  padding: 1rem;
  border-radius: 2px;
  width: calc(100% - 2em);
}
@media (min-width: 640px) {
  input,
textarea {
    width: calc(100% - 2em);
  }
}

input:focus,
textarea:focus {
  outline: 0.1em solid #c22127;
  border-radius: 2px;
}

[type=checkbox] {
  width: auto;
}

input[type=search] {
  border: 0.1em solid #cacaca;
  border-right: none;
  font-size: 2em;
  font-weight: bold;
  padding: 1rem;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

input[type=search]:focus {
  outline: 0.1em solid #c22127;
}

.searchform [type=submit],
#commentform [type=submit] {
  background: none;
  border: 0.1em solid #c22127;
  border-top: none;
  border-left: none;
  color: #c22127;
  font-size: 2em;
  font-weight: bold;
  padding: 1rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: auto;
  font-size: 1.25em;
  transition: 0.5s;
}
@media (min-width: 640px) {
  .searchform [type=submit],
#commentform [type=submit] {
    font-size: 1.563em;
  }
}
@media (min-width: 1024px) {
  .searchform [type=submit],
#commentform [type=submit] {
    font-size: 1.953em;
  }
}

.searchform [type=submit]:hover,
#commentform [type=submit]:hover {
  background: #c22127;
  color: #fefefe;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Button and submit inputs reset
 * 1) These should be styled using c-btn
 */
.button,
button {
  cursor: pointer;
  margin: 0;
  /* bring the element back inline */
  background: none;
  color: #c22127;
  border-color: #c22127;
  font-weight: bold;
  border-top: none;
  border-left: none;
  font-size: 1.5em;
  /* padding-right: $global-padding; this was causing issues with hover looking strange but maybe I had done it or a reason?
  padding-bottom: $global-padding;
  */
  transition: 0.5s;
  padding: 0.5rem;
}
@media (min-width: 640px) {
  .button,
button {
    font-size: 2em;
  }
}

.button__hover,
.button:hover,
button:hover {
  background: #c22127;
  color: #fefefe;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.article-content .button,
.article-content button,
.quote-content .button {
  text-decoration: none;
  box-shadow: none;
  border-right: 0.1em solid #c22127;
  border-bottom: 0.1em solid #c22127;
  border-bottom-right-radius: 3px;
  display: inline-block;
}

.article-content .button:hover,
.article-content button:hover,
.quote-content .button:hover {
  border-bottom: 1px solid #c22127;
}

/*------------------------------------*\
    #MAIN ELEMENT
\*------------------------------------*/
/**
 * Main element
 */
[role=main] {
  display: block;
  padding: 1rem;
}

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/**
 * Responsive image styling
 * 1) Allows for images to flex with varying screen size
 */
img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
  width: 1em;
}

/*------------------------------------*\
    #TEXT
\*------------------------------------*/
/**
 * Paragraph base styles
 */
/* p {
	margin-bottom: $spacing;
} */
/**
 * Blockquote base styles
 */
/*
blockquote {
	font-style: italic;
	border-left: 1px solid $color-neutral-gray-50;
	color: $color-neutral-gray-50;
	padding-left: 1rem;
	margin-bottom: $spacing;
} */
/**
 * Horizontal rule base styles
 */
/*
hr {
	border: 0;
	height: 1px;
	background: $color-neutral-gray-50;
	margin: 1rem 0;
} */
/**
 * Selection styles
 */
.text__selection ::selection {
  background: #c22127;
}

a::selection {
  color: #fefefe;
}

.text-center {
  text-align: center;
}

/**
 * Code base styles
 */
code {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  line-height: 1.2;
  font-size: 0.85rem;
}

/**
 * Preformatted text base styles
 */
pre {
  padding: 1rem;
  overflow-x: auto;
  /**
   * Remove border from code within preformatted text block
   */
}
pre code {
  border: 0;
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*=language-],
pre[class*=language-] {
  font-family: monospace !important;
}

.is-style-mega-hr,
.mega-hr {
  border-bottom-width: 0.5em;
  border-color: #8a8a8a;
  border-style: solid;
}
@media (min-width: 640px) {
  .is-style-mega-hr,
.mega-hr {
    border-bottom-width: 1em;
  }
}

/*------------------------------------*\
    #TEXT
\*------------------------------------*/
/**
 * Paragraph base styles
 */
/* p {
	margin-bottom: $spacing;
} */
/**
 * Blockquote base styles
 */
/*
blockquote {
	font-style: italic;
	border-left: 1px solid $color-neutral-gray-50;
	color: $color-neutral-gray-50;
	padding-left: 1rem;
	margin-bottom: $spacing;
} */
/**
 * Horizontal rule base styles
 */
/*
hr {
	border: 0;
	height: 1px;
	background: $color-neutral-gray-50;
	margin: 1rem 0;
} */
/**
 * Selection styles
 */
.text__selection ::selection {
  background: #c22127;
}

a::selection {
  color: #fefefe;
}

.text-center {
  text-align: center;
}

/**
 * Code base styles
 */
code {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  line-height: 1.2;
  font-size: 0.85rem;
}

/**
 * Preformatted text base styles
 */
pre {
  padding: 1rem;
  overflow-x: auto;
  /**
   * Remove border from code within preformatted text block
   */
}
pre code {
  border: 0;
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*=language-],
pre[class*=language-] {
  font-family: monospace !important;
}

.is-style-mega-hr,
.mega-hr {
  border-bottom-width: 0.5em;
  border-color: #8a8a8a;
  border-style: solid;
}
@media (min-width: 640px) {
  .is-style-mega-hr,
.mega-hr {
    border-bottom-width: 1em;
  }
}

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Table
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/**
 * Table header cell
 */
th {
  text-align: left;
}

/**
 * Table row
 */
tr {
  vertical-align: top;
}

/*------------------------------------*\
    #MOLECULES
\*------------------------------------*/
/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.page-title {
  margin: 0;
  border: 4px solid #c22127;
  padding: 1rem;
  color: #c22127;
  word-wrap: break-word;
  text-align: center;
}

.breadcrumbs {
  writing-mode: vertical-rl;
}
.breadcrumbs a {
  color: #575757;
  text-decoration: line-through;
}

.header-color-blocking {
  mix-blend-mode: multiply;
  background: #c22127;
}

.header-logo {
  fill: #c22127;
}

.site-branding-text {
  writing-mode: vertical-rl;
  justify-self: center;
  background: black;
}
.site-branding-text a {
  color: #fefefe;
  padding: 1rem;
  display: inline-block;
}

.single .site-branding-text {
  writing-mode: initial;
}
.single .site-branding-text a {
  color: #0a0a0a;
  padding: initial;
}

.navigation-top ul {
  margin: 0;
  padding-left: 0;
}
.navigation-top ul > li {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  .navigation-top ul > li {
    font-size: 2.25rem;
  }
}

.single .navigation-top ul {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .single .navigation-top ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.spine {
  writing-mode: vertical-rl;
  color: #575757;
}

/*------------------------------------*\
  # FOOTER MOLECULES
\*------------------------------------*/
.footer_menu li {
  font-weight: bold;
  border: 0.25em solid #c22127;
  padding: 1rem;
}

.footer_copyright a,
.footer_nav a,
.footer_contact a {
  text-decoration: none;
  color: #0a0a0a;
  box-shadow: inset 0 -4px 0 #c22127;
  transition: 300ms;
}

.footer_copyright a:hover,
.footer_nav a:hover,
.footer_contact a:hover {
  border-bottom: none;
  box-shadow: inset 0 -8px 0 #c22127;
}

.footer_nav li {
  display: inline;
  margin-right: 1rem;
}

/*------------------------------------*\
  #MOLECULES
\*------------------------------------*/
/**
 *
 * ARTICLE
 *
 * ARTICLE_BASE
 *
 * PAGINATION
 *
 * COMMENTS
 *
 * CATEGORY PAGE
*/
/*------------------------------------*\
  # ARTICLE
\*------------------------------------*/
.fp-box {
  background: #c22127;
  color: #fefefe;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
}

.spine-border {
  border-left: 4px solid #c22127;
  padding-top: 3rem;
}

.article-date {
  color: #8a8a8a;
  margin-top: 0;
}

/*------------------------------------*\
  # ARTICLE-BASE
\*------------------------------------*/
.post-navigation {
  grid-column: 2;
  margin-right: 3rem;
}
@media (min-width: 640px) {
  .post-navigation {
    margin-right: 0;
  }
}
.post-navigation a {
  color: #0a0a0a;
}

.nav-previous,
.nav-next {
  font-weight: bold;
  display: block;
}

.article-tags a {
  color: #8a8a8a;
  display: block;
}

/*------------------------------------*\
  # PAGINATION
\*------------------------------------*/
.pagination {
  max-width: 77rem;
  margin: 3rem;
}

.pagination .nav-links {
  display: flex;
  justify-content: center;
}

.pagination .nav-links .next,
.pagination .nav-links .prev {
  writing-mode: vertical-rl;
  color: #0a0a0a;
  font-weight: bold;
}

.pagination span, .pagination a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-self: center;
}

/*------------------------------------*\
  # COMMENTS
\*------------------------------------*/
/* this doesnt work in sass but im not sure its exceptionally important
.comment-reply-title:focus {
    @extend .screen-reader-text:focus;
} */
#email-notes {
  display: block;
}

/*------------------------------------*\
  # CATEGORY PAGE
\*------------------------------------*/
.cat-title {
  grid-column: 2;
}
@media (min-width: 640px) {
  .cat-title {
    grid-column: 2/6;
  }
}

.category-sub {
  width: calc(100% - 6rem);
  max-width: 77rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.category-sub ul {
  padding-left: 0;
}
@media (min-width: 640px) {
  .category-sub ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
.category-sub ul li {
  list-style: none;
  text-align: center;
  border: 0.25em solid #c22127;
  padding: 1rem;
  font-weight: bold;
}

.article-thumbnail {
  grid-row: 1;
  grid-column: 2;
}
@media (min-width: 640px) {
  .article-thumbnail {
    grid-column: 2/6;
  }
}

.article-thumbnail > a,
.category-thumbnail > a {
  width: 100%;
  display: block;
}

.article-thumbnail > a > img, .category-thumbnail > a > img {
  width: 100%;
}

.article-explore {
  grid-column: 2;
}
@media (min-width: 640px) {
  .article-explore {
    grid-column: 2/6;
  }
}

.category-break {
  margin-bottom: 3rem;
}

/*------------------------------------*\
    #ORGANISMS
\*------------------------------------*/
/*------------------------------------*\
  # ORGANISMS
\*------------------------------------*/
/**
 * CONTENTS
 *
 * HEADER
 *
 * SITE BRANDING TEXT
 *
 * IMAGE
 *
 * NAVIGATION TOP
 *
 * FOOTER
 *
 * PAGE
 */
/*------------------------------------*\
  # HEADER
\*------------------------------------*/
.site-header {
  width: 100%;
  max-width: 77rem;
  margin: 0 auto 2rem auto;
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-gap: 1rem;
}
@media (min-width: 640px) {
  .site-header {
    grid-template-rows: 2em 1fr 2em;
    grid-template-columns: 2em 1fr 1fr 1fr 2em;
  }
}

@media (min-width: 640px) {
  .single .site-header {
    grid-template-rows: initial;
    grid-template-columns: 2em 1fr 2em;
  }
}

.breadcrumbs {
  grid-column: 1;
  grid-row: 2/4;
  justify-self: center;
}

.single .breadcrumbs {
  grid-row: 1/3;
  align-self: end;
}
@media (min-width: 640px) {
  .single .breadcrumbs {
    grid-row: 2;
  }
}

.header-logo {
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
}
@media (min-width: 640px) {
  .header-logo {
    align-self: end;
    grid-column: 5;
  }
}
.header-logo a {
  display: inline-block;
}
.header-logo a svg {
  width: 1rem;
}

@media (min-width: 640px) {
  .single .header-logo {
    align-self: center;
  }
}

/*------------------------------------*\
  # SITE BRANDING TEXT
\*------------------------------------*/
.single-header-top-line {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 640px) {
  .single-header-top-line {
    flex-direction: row;
  }
  .single-header-top-line h1 {
    margin-bottom: 0;
  }
}

.site-branding-text {
  grid-row: 2;
  grid-column: 2;
  z-index: 20;
}
@media (min-width: 640px) {
  .site-branding-text {
    writing-mode: vertical-rl;
    grid-row: 1/4;
    grid-column: 3;
    place-self: center;
  }
}

.single .site-branding-text {
  background: initial;
  mix-blend-mode: initial;
  align-self: flex-start;
}
@media (min-width: 640px) {
  .single .site-branding-text {
    writing-mode: initial;
  }
}

.site-header .site-branding-text {
  mix-blend-mode: screen;
}

.single .site-header .site-branding-text {
  mix-blend-mode: initial;
}

/*------------------------------------*\
  # IMAGE
\*------------------------------------*/
.header-color-blocking {
  z-index: 15;
  grid-column: 2;
  grid-row: 2;
}
@media (min-width: 640px) {
  .header-color-blocking {
    grid-row: 1/4;
    grid-column: 3;
  }
}

.custom-header-media {
  z-index: 10;
  grid-row: 1/3;
  grid-column: 2;
}
@media (min-width: 640px) {
  .custom-header-media {
    grid-row: 2;
    grid-column: 2/4;
  }
}
.custom-header-media img, .custom-header-media picture {
  width: 100%;
}

.overlaying-image {
  filter: grayscale(100%);
  mix-blend-mode: multiply;
  z-index: 14;
}

.single .overlaying-image {
  filter: none;
}

.single .custom-header-media {
  grid-row: 2;
  align-self: end;
}
@media (min-width: 640px) {
  .single .custom-header-media {
    grid-column: 2;
  }
}

/*------------------------------------*\
  # NAVIGATON TOP
\*------------------------------------*/
.navigation-top {
  grid-column: 2;
  grid-row: 3;
}
@media (min-width: 640px) {
  .navigation-top {
    grid-column: 4;
    grid-row: 2/4;
  }
}

@media (min-width: 640px) {
  .single .navigation-top ul {
    display: flex;
    margin-top: 0;
  }
  .single .navigation-top li {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .single .navigation-top li:last-child() {
    margin-right: 0;
  }
}

/*------------------------------------*/
.spine {
  grid-column: 3;
  grid-row: 2/4;
  writing-mode: vertical-rl;
  justify-self: center;
}
@media (min-width: 640px) {
  .spine {
    grid-row: 2;
    grid-column: 5;
    align-self: end;
  }
}

.single .spine {
  grid-row: 1/3;
  align-self: end;
}
@media (min-width: 640px) {
  .single .spine {
    grid-column: 3;
  }
}

/*------------------------------------*\
  # FOOTER
\*------------------------------------*/
.site-footer {
  width: calc(100% - 6rem);
  max-width: 71rem;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .site-footer {
    padding-top: 5rem;
  }
}

.footer_menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  padding-left: 0;
}
@media (min-width: 640px) {
  .footer_menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer_info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media (min-width: 640px) {
  .footer_info {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* .footer_copyright {
    @media (min-width: map-get($breakpoints, medium)) {
        grid-column: 1; // this is the default
    }
}
 */
#bottom-menu {
  padding-left: 0;
  margin: 0;
}

@media (min-width: 640px) {
  .footer_contact {
    text-align: right;
  }
}

/*------------------------------------*\
  # PAGE
\*------------------------------------*/
.background-primary {
  background: #c22127;
}

.background-dirty {
  background: #e6e6e6;
}

.front-page-titles {
  width: calc(100% - 6rem);
  max-width: 71rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  background: #fefefe;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .front-page-titles {
    grid-gap: 1rem;
  }
}

.fp-header {
  grid-column: 2;
}
@media (min-width: 640px) {
  .fp-header {
    grid-column: 2/6;
  }
}

.site-main article,
.site-main_article {
  /* running wordpress post class prevents using a straight classes */
  width: calc(100% - 2rem);
  max-width: 71rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding-top: 2rem;
  grid-template-columns: 1rem 1fr 1rem;
}
@media (min-width: 640px) {
  .site-main article,
.site-main_article {
    width: calc(100% - 6rem);
    grid-template-columns: repeat(6, 1fr);
  }
}

.spine-border {
  grid-row: 1/3;
  grid-column: 1;
  z-index: 15;
  justify-self: end;
}
@media (min-width: 640px) {
  .spine-border {
    grid-row: 1/3;
    justify-self: start;
  }
}

.single .spine-border,
.category .spine-border {
  grid-row: 1/5;
  grid-column: 1;
  justify-self: start;
}
@media (min-width: 640px) {
  .single .spine-border,
.category .spine-border {
    grid-row: 1/4;
    justify-self: start;
  }
}

.single .spine-border {
  grid-row: 1/6;
}
@media (min-width: 640px) {
  .single .spine-border {
    grid-row: 1/5;
  }
}

.category .spine-border {
  grid-row: 1/6;
}
@media (min-width: 640px) {
  .category .spine-border {
    grid-row: 1/5;
  }
}

.article-content {
  grid-column: 2;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  .article-content {
    grid-column: 2/6;
    margin-bottom: 3rem;
  }
}

.article-date {
  grid-row: 2;
  grid-column: 2;
}
@media (min-width: 640px) {
  .article-date {
    grid-column: 2/4;
  }
}

.article-speechbubble {
  grid-column: 2;
}
@media (min-width: 640px) {
  .article-speechbubble {
    grid-column: 4/6;
    justify-self: end;
  }
}

.article-category {
  grid-column: 2;
}
@media (min-width: 640px) {
  .article-category {
    text-align: right;
    grid-row: 1/3;
    grid-column: 1;
    writing-mode: vertical-rl;
    align-self: end;
    overflow-x: scroll;
    max-height: 45em;
  }
}
.article-category ul {
  padding-left: 0;
}
.article-category a {
  color: #8a8a8a;
}

@media (min-width: 640px) {
  .single .article-category {
    grid-row: 1/4;
    align-self: start;
    grid-column: 1;
  }
}
.single .article-category h3 {
  margin: 0;
  grid-column: 1;
}

/*------------------------------------*\
  # ARTICLE BASE
\*------------------------------------*/
.article-base {
  width: 100%;
  max-width: 77rem;
  margin: 3rem auto 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2em 1fr;
}
@media (min-width: 640px) {
  .article-base {
    grid-template-columns: 2em 1fr 1fr 1fr 2em;
  }
}

.base-explore {
  grid-column: 1;
  writing-mode: vertical-rl;
  margin: 0;
}

.article-tags {
  grid-column: 2;
  margin-right: 3rem;
}
@media (min-width: 640px) {
  .article-tags {
    grid-column: 4;
    margin-right: 0;
  }
}

.article-comments {
  grid-column: 2;
  margin-right: 3rem;
}
@media (min-width: 640px) {
  .article-comments {
    grid-column: 3;
    margin-right: 0;
  }
}

.base-tags {
  grid-column: 1;
  grid-row: 3;
  writing-mode: vertical-rl;
  margin: 0;
}
@media (min-width: 640px) {
  .base-tags {
    grid-column: 5;
    grid-row: 1;
    margin-right: 0;
  }
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 *
 * 1) This caps the width of text passages
 *    to achieve a comfortable line length
 */
/*
.l-linelength-container {
	max-width: $l-linelength-width;
} */
/*------------------------------------*\
    #GRID
\*------------------------------------*/
/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    #VISIBILITY CLASSES
\*------------------------------------*/
/* Text meant only for screen readers. These are the wordpress twentyseventeen option for the default places its needed */
.screen-reader-text, .comment-reply-title {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus, .comment-reply-title:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/*# sourceMappingURL=style.css.map */
