<div class="background-dirty">
    <main class="site-main">
        <article class="">
            {{> molecules-spine-border }}
            {{> molecules-cat-header }}

            {{> molecules-article-content }}
        </article>
    </main>
</div>