{{! quite similar to page article }}
<div class="site-main">
    <article class="category">
        {{> molecules-spine-border }}
        {{> molecules-fp-header }}

        {{> molecules-article-thumbnail }}
        
        {{> molecules-article-content }}
        {{> molecules-category }}

        {{> molecules-article-explore }}
    </article>
</div>