<div class="single">{{! testing }}
    <div class="background-dirty">
        <main class="site-main">
            <article class="">
                {{> molecules-spine-border }}
                {{> molecules-fp-header }}

                {{> molecules-date }}
                {{! {{> molecules-speechbubble }}
                {{> molecules-category }}

                {{> molecules-article-content }}
            </article>
        </main>
    </div>
    <div class="article-base">
        {{> molecules-explore }}
        {{> molecules-post-navigation }}
        {{> molecules-article-comments }}
        {{> molecules-article-tags }}
        {{> molecules-tags }}
    </div>
</div>