<footer class="site-footer" role="contentinfo">

	{{> molecules-menu }}

	<div class="footer_info">
		{{> molecules-copyright }}
		{{> molecules-nav }}
		{{> molecules-contact }}
	</div>

</footer><!--end c-footer-->
