<header class="site-header">
    {{> molecules-breadcrumbs }}

    {{! maybe this should be on the organism level }}
    <div class="custom-header-media overlaying-image">
        {{> molecules-custom-header-media }}
    </div>

    
    {{> molecules-site-branding-text }}
    {{> molecules-navigation-top }}


    {{> molecules-header-logo }}
    {{> molecules-header-color-blocking }}
    {{> molecules-spine }}
</header>