{{!
    h1 - Site Title
    h2 - Page Title
    h3 - Sub Titles on page / category titile
}}

<h4 class="article-date subheader"> {{!-- 6 seems a little too small --}}
    {{# page }}
        {{ date }}
    {{/ page }}
</h4>