<div class="footer_nav">
    {{!-- <div class="menu-footer-nav-container"> not needed? --}}
        <ul id="bottom-menu" class="menu">
            {{# menu }}
                <li>
                <a href="#">
                    {{ title }}
                </a>
                </li>
            {{/ menu }}
        </ul>
    {{!-- </div> --}}
</div>