{{!-- {{> organisms-header }} --}}
<header class="site-header" style="background-color: aqua;">{{!-- base width --}}
    {{!-- stay gold --}}
    Header
</header>

<div class="background-primary">{{!-- full width on purpose --}}
    {{!-- {{> organisms-ccc }} --}}
    Background Primary
    <div class="front-page-titles" style="background-color: cadetblue; min-height: 5rem;">
        {{!-- stay gold --}}
        Front Page Titles
    </div>
</div>

<main class="background-dirty" class="site-main">{{!-- this .site-main class isnt working properly --}}
    {{!-- {{> organisms-article }} --}}
    Background Dirty
        <article class="site-main_article" style="background: blueviolet;">{{!-- same width as header --}}
            {{!-- stay gold --}}
            .site-main Article
        </article>
</main>

{{!-- {{> organisms-footer }} --}}
<footer class="site-footer" style="background-color: brown;">
    Footer
    {{!-- stay gold --}}
</footer><!--end c-footer-->
