<header class="site-header">
    <div class="breadcrumbs" style="background-color: aqua; width: 100%; min-height: 5rem;">
        <!-- stay gold -->
    </div>

    {{! maybe this should be on the organism level }}
    <div class="custom-header-media overlaying-image" style="background-color: aquamarine; width: 100%; min-height: 5rem;">
        <!-- stay gold -->
    </div>
    {{!-- {{> molecules-header-logo }} --}}
    <div class="header-logo" style="background-color: blue; width: 100%; height: 100%; min-height: 5rem;">
        {{!-- stay gold --}}
    </div>

    {{!-- {{> molecules-site-branding-text }} --}}
    <div class="site-branding-text" style="background-color: blueviolet; width: 100%; height: 100%; min-height: 5rem;">
        {{!-- stay gold --}}
    </div>

    {{!-- {{> molecules-header-color-blocking }} --}}
    <div class="header-color-blocking stay-gold">
        <!-- stay gold -->
    </div>

    {{!-- {{> molecules-navigation-top }} --}}
    <nav class="navigation-top" style="background-color: brown; width: 100%; height: 100%; min-height: 5rem;">
        {{!-- stay gold --}}
    </nav>

    {{!-- {{> molecules-spine }} --}}
    <div class="spine" style="background-color: burlywood; width: 100%; height: 100%; min-height: 5rem;">
        {{!-- stay gold --}}
    </div>
</header>

<div class="background-primary">
    {{!-- {{> organisms-ccc }} --}}
    <div class="front-page-titles">
        <div class="fp-box">
            {{!-- stay gold --}}
            {{! this needs a way of having all the boxes fill up but without the letters }}
        </div>
    </div>
</div>

<main>
    {{!-- {{> organisms-article }} --}}
    <div class="background-dirty">
        <main class="site-main">
            <article class="">
                
            </article>
        </main>
    </div>

</main>

{{> organisms-footer }}