// Footer Molecules
// --------------------------------------------------------------

.footer_menu li {
    font-weight: bold;
    border: .25em solid $primary-color; // global?
    padding: $global-padding;
    // margin: $global-margin 0; // new so it doesnt touch as a molecule but doesnt work as an organism
}

.footer_copyright a,
.footer_nav a,
.footer_contact a {
	text-decoration: none;
	color: $black;
	box-shadow: inset 0 -4px 0 $primary-color; // this is alternative underline that rises up on hover
	transition: 300ms;
}

.footer_copyright a:hover,
.footer_nav a:hover,
.footer_contact a:hover {
	border-bottom: none;
	box-shadow: inset 0 -8px 0 $primary-color;
}

.footer_nav li { // I think this needs some real love
    display: inline; // this is done differently to other places
    margin-right: $global-margin;
}

.footer_menu li{
	border: .25em solid $primary-color; // global?
	padding: $global-padding;
	font-weight: bold;
}