<nav class="navigation-top">
    <div class="menu-top">
        <ul id="top-menu" class="menu">
            {{# cards }}
              <li>
                <a href="#">
                  {{ title }}
                </a>
              </li>
            {{/ cards }}
        </ul>
    </div>
</nav>

{{!-- <small>{{{ meta.description }}}</small> this shows up further through the designs where it shouldnt --}}