<div class="site-branding-text">{{! this can have a background even tho it needs it for the base level higher up it would be visible }}
    <h1>
        <a href="#" class="site-title">
            {{# company }}
                {{ name }}
            {{/ company }}
        </a>
    </h1>
</div>